{% extends 'base.html'%}
{% block bar %}
<a href="{{url_for('profile_page')}}">Profile</a>
<a href="{{url_for('edit_page')}}">Edit profile</a>
{% endblock %}

{% block card %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger" style="color: red;">
            {{ messages[0] }}<br> 
        </div>
    {% endif %}
    {% endwith %}
{% for card in cards %}
<br>
<div class="shadowbox">
    <h3 class="pp">You successfully added credit card!!</h3>
</div>
{% endfor %}

{% for error in form.expdate.errors %}
  <p class="error" style="color: red; font-weight: bold;">{{ error }}</p>
{% endfor %}

<br>
    <form method="post">
    <div class="container">
        <div class= "signup-content">
            <h2>Add a credit card</h2>
            <div class="form-group">
                
                {{form.name(class = "form-control form-input", 
                placeholder = "Cardholder name")}}
            </div>
            <div class="form-group">
                <br/>
                {{form.cardnum(class = "form-control form-input", 
                placeholder = "Card number")}}
            </div>
            <div class="form-group">
                <br>
                <form>
                    <input type="text" id="expdate" name="expdate" class="form-control form-input" placeholder="Expiration date (MM-YYYY)" pattern="(0[1-9]|1[012])[- /.](20)\d\d" >
                  </form>                   
            </div>
            <div class="form-group">
                <br/>
                {{form.seccode(class = "form-control form-input", 
                placeholder = "Security code")}}
            </div>
            <div class="form-group">
                <br/>
                {{form.amount(class = "form-control form-input", 
                placeholder = "Money amount")}}
            </div>
            <br>
            {{ form.submit(class='btn btn-lg form-submit') }}
        </div>

    </form>
    </div>
{% endblock %}