{% extends 'base.html' %}

{% block profile %}
<div class="container">
    <br> 
    <div class="signup-content">
        <h2>Edit profile</h2>
    <div class="form-group">      
        {{form.name(class = "form-control form-input", 
        placeholder = "Name")}}
    </div>
    <div class="form-group">
        <br/>
        {{form.lastname(class = "form-control form-input", 
        placeholder = "Lastname")}}
    </div>
    <div class="form-group">
        <br/>
        {{form.address(class = "form-control form-input", 
        placeholder = "Address")}}
    </div>
    <div class="form-group">
        <br/>
        {{form.city(class = "form-control form-input", 
        placeholder = "City")}}
    </div>
    <div class="form-group">
        <br/>
        {{form.country(class = "form-control form-input", 
        placeholder = "Country")}}
    </div>
    <div class="form-group">
        <br/>
        {{form.phoneNumber(class = "form-control form-input", 
        placeholder = "Phone number")}}
    </div>
    <div class="form-group"> 
        <br>
        {{form.password1(class = "form-control form-input",
        placeholder = "Password")}}
    </div>
    <div class="form-group">
        <br>
        {{form.password2(class = "form-control form-input", 
        placeholder = "Confirm password")}}
    </div>
    <br>
    {{ form.submit(class='btn btn-lg form-submit') }}
    <p align="center"> 
        Only fill the fields you want to edit!!
    </p>
</div>
</div>
{% endblock %}